.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.scroll{
    overflow:scroll;
    height: 400px;
}

.message:nth-child(odd){
    overflow:scroll;
    margin-right:100px;
    margin-bottom: 10px;
    background-color: aquamarine;
    text-align: right;
    border-style: groove;
    border: 2px solid aquamarine;
    border-radius: 5px;
    padding:20px;
}
.message:nth-child(even){
    overflow:scroll;
    margin-left:100px;
     margin-bottom: 10px;
    background-color:bisque;
    text-align: left;
    border-style: groove;
    border: 2px solid bisque;
    border-radius: 5px;
    padding:20px;
}

.brand{
    text-align:right;
}
.infobar{
    font-size: 20px;
}
.infoleft{
    margin-left:25%;
    color:blue;
}
.inforight{
    margin-right:25%;
    color:red;
  
}
.newmessage{
    color:red;
}
