.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.chatbox{
    overflow-y:scroll;
    overflow-x: hidden;
    height: 400px;
    padding-left:15px;
    padding-right:15px;
    
}

#surround{padding:10px}

.brand{
    text-align:right;
}
.infobar{
    font-size: 20px;
    padding-bottom: 5px;
}
.infoleft{
    margin-left:10%;
    color:blue;
}
.moreleft{
    margin-left:15%;
    color:blue;
}

.inforight{
    margin-right:10%;
    color:red;
}   
.moreright{
    margin-right:15%;
    color:red;      
}



.arrow_box:nth-child(odd) {

    margin-right:100px;
    text-align: right;
    padding:20px;
	position: relative;
	background: aquamarine;

}
.arrow_box:nth-child(odd):nth-child(odd):after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;

}

.arrow_box:nth-child(odd):after {
	border-left-color: aquamarine;
	border-width: 30px;
	margin-top: -30px;

}
.arrow_box:nth-child(odd):before {

	border-left-color: aquamarine;
	border-width: 30px;
	margin-top: -30px;

}


 .arrow_box:nth-child(even) {
    margin-left:100px;
    text-align: left;
    padding: 20px; 
	position: relative;
	background: bisque;

}
.arrow_box:nth-child(even):after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:nth-child(even):after {
	border-right-color: bisque;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:nth-child(even):before {

	border-right-color: bisque;
	border-width: 30px;
	margin-top: -30px;
}